/** Ce fichier est inclus dans tout "wp-admin" de WordPress **/


/* ----------------------------------
		Sous menu "Create" admin bar WordPress.
-----------------------------------*/


#wpadminbar .ab-item.ab-empty-item span:hover {
	color: #00b9eb;
	cursor: pointer;
}

#wpadminbar #wp-admin-bar-new-content span {
	line-height: 26px;
}

/* ----------------------------------
		Notification (rond orange)
-----------------------------------*/
#wpadminbar .wp-ui-notification {
  display: inline;
  padding: 1px 7px 1px 6px !important;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #fff;
  margin-left: 5px; }

.menu-top .wp-ui-notification {
	display: inline-block;
background-color: #d54e21;
color: #fff;
font-size: 9px;
line-height: 17px;
font-weight: 600;
margin: 1px 0 0 2px;
vertical-align: top;
-webkit-border-radius: 10px;
border-radius: 10px;
z-index: 26; }
.menu-top .wp-ui-notification span {
	display: block;
    padding: 0 6px; }

		/* ----------------------------------
				Metabox "quick time".
		-----------------------------------*/
		.quick-time-content .setting-quick-time-button {
		  position: absolute;
		  right: 30px;
		  top: 2px;
		  padding: 5px;
		  line-height: 1;
		  -webkit-border-radius: 6px;
		          border-radius: 6px; }

		.quick-time-content .inside {
		  padding: 0;
		  margin: 0;
		  position: static; }

		.quick-time-content .list {
		  border-collapse: collapse; }

		.quick-time-content .list > thead {
		  background: #fff;
		  color: rgba(0, 0, 0, 0.8);
		  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

		.quick-time-content .list td, .quick-time-content .list th {
		  padding: 0.4em 1em;
		  vertical-align: middle; }

		.quick-time-content .list .item:nth-child(odd) {
		  background: rgba(0, 0, 0, 0.1); }

		.quick-time-content .list .item:nth-child(even) {
		  background: #fff; }

		.quick-time-content .list .task, .quick-time-content .list .point {
		  width: 15%;
		  max-width: 15%; }

		.quick-time-content .list .min {
		  width: 10%;
		  max-width: 10%; }

		.quick-time-content .list .min > div {
		  display: -webkit-box;
		  display: -webkit-flex;
		  display: -moz-box;
		  display: -ms-flexbox;
		  display: flex; }

		.quick-time-content .list .min .fa {
		  margin: auto 0;
		  padding-right: 0.4em; }

		.quick-time-content .list .action {
		  width: 5%;
		  max-width: 5%;
		  text-align: right; }

		.quick-time-content .list .content {
		  width: 55%;
		  max-width: 55%; }

		.quick-time-content .list input[type="text"], .quick-time-content .list textarea {
		  width: 100%;
		  border: 1px solid rgba(0, 0, 0, 0.2);
		  padding: 0.4em; }

		.quick-time-content .list input[type="text"]:focus, .quick-time-content .list textarea:focus {
		  border: 1px solid rgba(0, 0, 0, 0.4); }

		.quick-time-content .wpeo-button {
		  margin: 1em; }

		/* ----------------------------------
				Model "setting-quick-time"
		-----------------------------------*/
		.quick-time-content .content .wpeo-button, .popup-quick-time .content .wpeo-button {
		  float: right; }

		.quick-time-content .content:after, .popup-quick-time .content:after {
		  display: block;
		  content: '';
		  clear: both; }

			/** USER **/

			.wpeo-ul-users {
			  display: -webkit-box;
			  display: -webkit-flex;
			  display: -moz-box;
			  display: -ms-flexbox;
			  display: flex;
			  -webkit-flex-wrap: wrap;
			      -ms-flex-wrap: wrap;
			          flex-wrap: wrap;
			  background: rgba(0, 0, 0, 0.05); }

				.user {
				  background: #389af6;
				  color: #fff;
				  position: relative;
				  -webkit-transition: all 0.2s ease-out;
				  -o-transition: all 0.2s ease-out;
				  transition: all 0.2s ease-out; }

				.user img {
				  position: absolute;
				  top: 0;
				  left: 0;
				  width: 100%;
				  height: 100%; }

				.user .wpeo-avatar-initial {
				  display: -webkit-box;
				  display: -webkit-flex;
				  display: -moz-box;
				  display: -ms-flexbox;
				  display: flex;
				  height: 100%; }

				.user span {
				  font-size: 16px;
				  text-align: center;
				  margin: auto;
				  display: inline-block;
				  width: 100%; }

				.user:hover {
				  cursor: pointer; }

			.wpeo-ul-users:after {
			  display: block;
			  content: '';
			  clear: both; }

			.wpeo-modal ul:after {
			  display: block;
			  content: '';
			  clear: both; }

			.wpeo-modal .follower {
			  float: left;
			  margin: 0.4em; }

			.wpeo-modal .follower .user:hover {
			  cursor: pointer !important;
			  -webkit-box-shadow: 0 0 0 1px #3495f0;
			          box-shadow: 0 0 0 1px #3495f0; }

			.wpeo-modal .follower img {
			  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
			  -webkit-filter: grayscale(100%);
			          filter: grayscale(100%); }

			.wpeo-modal .follower.active .user {
			  -webkit-box-shadow: 0 0 0 3px #3495f0;
			          box-shadow: 0 0 0 3px #3495f0; }

			.wpeo-modal .follower.active .user img {
			  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0" /></filter></svg>#filter');
			  -webkit-filter: grayscale(0);
			          filter: grayscale(0); }
